@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$bg-color1: #f3f7fa;
$bg-color2: #fff;
html {
  background-color: $bg-color1;
}
.app {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  display: flex;
  gap: 15px;
  width: fit-content;
  margin: 0 auto;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
